.form__info {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    position: absolute;
    left: 36px;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.7);
    width: 358px;
    height: 27px;
    top: 110px;
}

.form__info:last-child {
    top: 168px;
}

@media screen and (max-width: 767px) {
    .form__info {
        width: 238px;
        left: 22px;
        top: 120px;
    }
    .form__info:last-child {
        top: 176px;
    }
}