.form__info {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin-top: 25px;
    margin-left: 36px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 358px;
    height: 27px;
}

@media screen and (max-width: 767px) {
    .form__info {
        width: 238px;
        margin-top: 56px;
        margin-left: 22px;
    }
    .form__info:last-child {
        margin-top: 27px;
    }
}