.form__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    position: absolute;
    left: 36px;
    top: 34px;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .popup__title {
        font-size: 18px;
        line-height: 22px;
        left: 22px;
        top: 25px;
    }
}